{% extends 'base.html' %}
{% load static%}
{% block content %}

    <main class="content">
        <div class="container">
            <h1 class="content__title">Математика</h1>

            <div class="content__details">
                <span class="content__detail lang">Язык: {{ course.language }}</span>
                <span class="content__detail price">Цена: {{ course.price }} сом</span>
            </div>

            <div class="content__lessons">
                {% for v in videos %}
                    <div class="content__lesson">
                        <video class="content__lesson-video" controls>
                            <source src="/media/{{ v.video }}" type="video/mp4">
                        </video>
                        <h2 class="content__lesson-title">Урок {{ forloop.counter }}</h2>
                        <h3 class="content__lesson-text">
                            {{ v.title }}
                        </h3>
                    </div>
                {% endfor %}
                {% for t in tests %}
                    <div class="content__test">
                        <a href="#" class="content__test-link">
                            Тест
                        </a>
                        <h2 class="content__test-title">Тест {{ forloop.counter }}</h2>
                        <h3 class="content__test-text">
                            {{t.title}}
                        </h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}