{% extends 'base.html' %}
{% load static%}
{% block content %}

    <main class="courses">
        <div class="container">
            <button class="add">+</button>
            <ul class="courses__list">
                <li class="courses__item course">
                    <div class="course__img-wrapper">
                        <img src="https://images.unsplash.com/photo-1580582932707-520aed937b7b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="course background" class="course__im">
                    </div>
                    <div class="course__info">
                        <h3 class="course__name">Title</h3>
                        <p class="course__desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, explicabo nostrum ducimus fuga accusamus magni.
                        </p>
                        <div class="course__links">
                            <a href="#" class="course__link">Update</a>
                            <a href="#" class="course__link">Delete</a>
                            <a href="./tests.html" class="course__link">Result</a>
                        </div>
                    </div>
                </li>
                <li class="courses__item course">
                    <div class="course__img-wrapper">
                        <img src="https://img.freepik.com/premium-photo/innovative-learning-creative-educational-study-concept-graduation-school-student-success-wi_756748-16540.jpg" alt="course background" class="course__im">
                    </div>
                    <div class="course__info">
                        <h3 class="course__name">Title</h3>
                        <p class="course__desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, explicabo nostrum ducimus fuga accusamus magni.
                        </p>
                        <div class="course__links">
                            <a href="#" class="course__link">Update</a>
                            <a href="#" class="course__link">Delete</a>
                            <a href="#" class="course__link">Result</a>
                        </div>
                    </div>
                </li>
                <li class="courses__item course">
                    <div class="course__img-wrapper">
                        <img src="https://asu2learn.asu.edu.eg/educationPG/pluginfile.php/100897/mod_page/content/38/prog-1.jpg?time=1663760910515" alt="course background" class="course__im">
                    </div>
                    <div class="course__info">
                        <h3 class="course__name">Title</h3>
                        <p class="course__desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, explicabo nostrum ducimus fuga accusamus magni.
                        </p>
                        <div class="course__links">
                            <a href="#" class="course__link">Update</a>
                            <a href="#" class="course__link">Delete</a>
                            <a href="#" class="course__link">Result</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>

{% endblock %}