{% extends 'base.html' %}
{% load static%}
{% block content %}

<section class="log-in" action="/">
    <div class="log-in__wrapper">
        <h1 class="log-in__title">Вход в аккаунт</h1>
        <form method="post" class="log-in__form" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="email" id="email" class="log-in__input" placeholder="Электронная почта">
            <input type="password" name="password" id="password" class="log-in__input" placeholder="Пароль">
            <button class="log-in__button" type="submit">Войти</button>
        </form>

    </div>
</section>
{% endblock %}