{% extends 'base.html' %}
{% load static%}
{% block content %}
    <main class="student-test">
        <div class="container">
            <h1 class="student-test__name">John Doe</h1>
            <ul class="student-test__questions">
                <li class="question">
                    <p class="question__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, molestiae?
                    </p>
                    <div class="question__answers">
                        <div class="question__true-answer">
                            True answer: <span class="value">B</span>
                        </div>
                        <div class="question__user-answer">
                            User answer: <span class="value">B</span>
                        </div>
                    </div>
                </li>
                <li class="question">
                    <p class="question__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, molestiae?
                    </p>
                    <div class="question__answers">
                        <div class="question__true-answer">
                            True answer: <span class="value">B</span>
                        </div>
                        <div class="question__user-answer">
                            User answer: <span class="value">B</span>
                        </div>
                    </div>
                </li>
                <li class="question">
                    <p class="question__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, molestiae?
                    </p>
                    <div class="question__answers">
                        <div class="question__true-answer">
                            True answer: <span class="value">B</span>
                        </div>
                        <div class="question__user-answer">
                            User answer: <span class="value">B</span>
                        </div>
                    </div>
                </li>
                <li class="question">
                    <p class="question__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, molestiae?
                    </p>
                    <div class="question__answers">
                        <div class="question__true-answer">
                            True answer: <span class="value">B</span>
                        </div>
                        <div class="question__user-answer">
                            User answer: <span class="value">B</span>
                        </div>
                    </div>
                </li>
                <li class="question">
                    <p class="question__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, molestiae?
                    </p>
                    <div class="question__answers">
                        <div class="question__true-answer">
                            True answer: <span class="value">B</span>
                        </div>
                        <div class="question__user-answer">
                            User answer: <span class="value">B</span>
                        </div>
                    </div>
                </li>
                <li class="question">
                    <p class="question__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, molestiae?
                    </p>
                    <div class="question__answers">
                        <div class="question__true-answer">
                            True answer: <span class="value">B</span>
                        </div>
                        <div class="question__user-answer">
                            User answer: <span class="value">B</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>

{% endblock %}