{% extends 'base.html' %}
{% load static%}
{% block content %}

    <main class="tests">
        <div class="container">
            <ul class="tests__results">
                <li class="tests__result">
                    <h2 class="test__result-title">Test 1</h2>
                    <a href="./test-results.html" class="tests__result-link">Results</a>
                </li>
                <li class="tests__result">
                    <h2 class="test__result-title">Test 1</h2>
                    <a href="./test-results.html" class="tests__result-link">Results</a>
                </li>
                <li class="tests__result">
                    <h2 class="test__result-title">Test 1</h2>
                    <a href="./test-results.html" class="tests__result-link">Results</a>
                </li>
            </ul>
        </div>
    </main>

{% endblock %}