body {
  background-color: #fff;
  color: #090909;
  font-family: "Manjari", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.navbar__item {
  margin: 0 20px;
  padding: 10px 20px;
}
.navbar__item:hover .navbar__link {
  color: #C784C8;
}
.navbar__item.active {
  border-bottom: 5px solid #C784C8;
}
.navbar__item.login {
  background-color: #C784C8;
  border-radius: 25px;
}
.navbar__item.login .navbar__link {
  color: #fff;
}
.navbar__item.login:hover {
  border: none;
}
.navbar__link {
  color: #090909;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.student-test {
  padding: 120px 0 180px;
}
.student-test__name {
  font-size: 46px;
  line-height: 120%;
  margin-bottom: 75px;
}
.student-test .question {
  padding: 80px 60px 40px;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.25);
  background-color: #fcfafa;
  margin-bottom: 50px;
}
.student-test .question__text {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 20px;
}
.student-test .question__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.student-test .question__true-answer, .student-test .question__user-answer {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
}
.student-test .question__true-answer .value, .student-test .question__user-answer .value {
  color: #C784C8;
  font-size: 24px;
  font-weight: 900;
}

.footer {
  background-color: #D9D9D9;
  height: 285px;
  border-radius: 20px 20px 0 0;
}