<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORT Courses</title>
    <base href="/">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Manjari:100,regular,700" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="{% url 'home' %}" class="logo header__logo">
                <img src="{% static 'images/logo.png' %}" alt="logo" class="logo__img">
            </a>
            <nav class="navbar header__navbar">
                <ul class="navbar__list">
                    <il class="navbar__item">
                        <a href="/results" class="navbar__link">Рейтинг</a>
                    </il>
                    <il class="navbar__item">
                        <a href="/results/user" class="navbar__link">Мои результаты</a>
                    </il>

                    {% if user.is_authenticated %}
                        <il class="navbar__item">
                            <a href="/profile" class="navbar__link">{{ user.firstname }}</a>
                        </il>
                    {% else %}
                        <il class="navbar__item login">
                            <a href="{% url 'login' %}" class="navbar__link">Вход</a>
                        </il>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}
<footer class="footer">

</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>