{% extends 'base.html' %}
{% load static%}
{% block content %}
<section class="slider swiper">
        <div class="slider__wrapper swiper-wrapper">
            {% for n in news %}
                <div class="slider__slide slide swiper-slide">
                    <img src="/media/{{ n.image }}" alt="" class="slide__img">
                    <div class="slide__content">
                        <h3 class="slide__title">{{n.title}}</h3>
                        <p class="slide__text">
                            {{n.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </section>

    <section class="courses">
        <div class="container">
            <h2 class="courses__title">Онлайн подготовка учеников 11-класса к Общереспубликанскому тестированию-ОРТ</h2>
            <div class="courses__inner">
                {% for c in courses %}
                    <a href="{% url 'course' pk=c.id %}" class="course">
                        <img src="/media/{{ c.image }}" alt="course background" class="course__bg-img">
                        <div class="course__info">
                            <h4 class="course__title">{{ c.title }}</h4>
                            <p class="course__desc">
                                Язык: {{ c.language }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}