body{
    background-color: #fff;
    color: #090909;
    font-family: "Manjari", sans-serif;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    position: fixed;
    width: 100%;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }
}

.navbar{
    &__item{
        margin: 0 20px;
        padding: 10px 20px;
        
        &:hover{
            border-bottom: 5px solid #C784C8;
        }

        &.login{
            background-color: #C784C8;
            border-radius: 25px;
            .navbar__link{
                color: #fff;
            }
            &:hover{
                border: none;
            }
        }
    }
    &__link{
        color: #090909;
        font-size: 16px;
        line-height: 120%;
        font-weight: 700;
    }
}

.log-in{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper{
        width: 650px;
    }
    &__title{
        font-size: 64px;
        line-height: 120%;
        font-weight: 700;
        margin-bottom: 75px;
        text-align: center;
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__input{
        border-radius: 30px;
        padding: 25px 50px 20px;
        border: 1px solid #090909;
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 45px;
    }
    &__button{
        color: #fff;
        background-color: #C784C8;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        padding: 45px 45px 40px;
        border-radius: 30px;
    }
}